title Gautam Bharti 'GB' | Product Manager
meta(name='keywords' content='project manager, program manager, developer tools, data, engineer, business school, mba, prduct management, scrum, agile, software development, engineering, software, mobile')
meta(name='description' content='The personal website of Gautam Bharti, GB- a self-starter product manager with proven experience in building and shipping scalable products/solutions. As a product manager, my greatest strength lies in successful delivery of products by bridging the gap between technical challenges and business goals.')
meta(property='og:title' content='Gautam Bharti 'GB' | Product Manager')
meta(property='og:type' content='website')
meta(property='og:url' content='http://seekgb.com')
meta(property='og:image' content='images/meta-image.jpg')
meta(property='og:site_name' content='Gautam Bharti 'GB' | Product Manager')
meta(property='og:description' content='The personal website of Gautam Bharti 'GB'- a self-starter product manager with proven experience in building and shipping scalable products/solutions. As a product manager, my greatest strength lies in successful delivery of products by bridging the gap between technical challenges and business goals.')
