section#about.about
  .about-photo-container
    .about-photo.one
    .about-photo.two
  .about-text
    h3 Great to (web) meet you
    p
      |I'm currently working as a Product Manager of Developer Productivity in Windows Shell Org at&nbsp;
      a(href='http://www.microsoft.com/' target='blank') Microsoft.
      |&nbsp;I have previously worked as a Software Developer and have been involved in co-founding two start-ups, Green Consultants and &nbsp;
      a(href='www.timpli.com' target='blank') Timpli
      |. Over the years I have developed a well-rounded understanding of product management and development . My belief is all good decisions are data driven and iterating over feedback is what leads to great products.I always look for opportunities where I can learn from those who are just as motivated to share their knowledge as I am to learn.
