section#contact.contact
  .section-container.row
    .contact-form-container.col-sm-7
      h3 Get in touch
      p Be it personal or professional, I'd love to hear from you. 
      form#contact-form(method='POST', action='/')
        .control.clearfix
          label.clearfix(for="name") Full Name
          input(type="text" spellcheck="false" name="name", id='name', placeholder='Full Name')
        .control
          label(for="email") Your Email
          input(type="text" spellcheck="false" name="email", id='email', placeholder="Your Email")
        .control
          label.hidden(for='message') Your Message
          textarea(name="message", id='message', placeholder='Your Message', rows='1')
        button.button.submit-button(type="submit")
          span.icon.fa.fa-paper-plane.js-submit-icon
          span.js-submit-text &nbsp; SEND MESSAGE

    .contact-links-container.col-sm-4.col-sm-offset-1
      h3 I am also available at:
      ul
        a(target= '_blank' href='https://twitter.com/GBdLoneWolf')
          span.icon.fa.fa-twitter
          span.hidden-sm Twitter
        li
          a(target= '_blank' href='https://www.linkedin.com/in/gautam-bharti-ba511829/')
            span.icon.fa.fa-linkedin
            span.hidden-sm LinkedIn
