section#hero.hero
  header.hero-container
    h1
      |Developing for empathy,
      br
      |Engineering for ease.
    p I am a self-starter product manager with proven experience in building and shipping scalable products/solutions. As a product manager, my greatest strength lies in successful delivery of products by bridging the gap between technical challenges and business goals.
    a.button.js-get-started(href='#about' title='About section') GET TO KNOW ME
  //- Hero Navigation
  nav.navbar-hero.hidden-xs
    .navbar-container
      a.navbar-name
        .logo-container
          .gear-navigation-large.light
          .gear-navigation-small.light
        |Gautam Bharti 'GB'
      ul.navbar-links
        li
          a.about-link(href='#about') ABOUT
        li
          a.resume-link(href='#resume') RESUME
        li
          a.contact-link(href='#contact') CONTACT
  a.hero-arrow(href='#about' title='About section')
